html {
    height:100%;
}


body {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    height: 100%;
    background-color: #005988;
    margin: 0rem;
    padding-top: 1rem;
}


main{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    padding: 2rem;
    height: 100%;
}


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
}


.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 0rem 0rem 1rem 0rem;
    padding: 0rem 1rem 1rem 1rem;
    border-bottom: .1rem solid white;
    border-radius: 0rem;
}
.menu_prof {
  background-color: #85A5BC;
}
nav {
  position: fixed;
  top: 0;
  right: 0px;
  height: 100%;
  color: white;
  background-color: #005988;
}

h1 {
    color:#FAC35E;
    font-family: 'Cabin', sans-serif;
    font-size: 4em;
    text-align: center;
}


h2 {
  color:#FAC35E;
  font-family: 'Cabin', sans-serif;
  font-size: 2em;
  text-align: center;
}


a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: .1rem solid white;
    border-radius: 1rem;
    color: #FAC35E;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    background-color: #005988;
}
.profile {
  border: 0rem;
  background-color:#85A5BC ;
  justify-content: flex-start;
  font-size: 2rem ;
  align-items: center;
  color: white;
  margin: 0rem;
  padding: 0rem;
}

p {
  margin: 0rem 0rem 0rem 1rem;
}
.index{
  margin: 0rem 0rem 0rem 4rem;
}
.index2 {
  justify-content: flex-start;
}
.bar {
  display: block;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;

}


.lista {
   border-bottom: .1rem solid white;
   padding: 1rem;
}


.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1rem;
  border: .1rem solid white;
  border-radius: 1rem;
  color: #FAC35E;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  background-color: #005988;
}


.imagem {
    max-width: 50%;
    height: auto;
    margin: 2rem 2rem 2rem 2rem;
  }


.imagem_menu {
  height: 4rem;
  width : 4rem;
}


.imagem_botão {
  height: 2rem;
  width : 2rem;
}


  text {
    color: #FAC35E;
    font-family: 'Cabin', sans-serif;
  }


  .title{
    color: #FAC35E;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 2em;
  }


  .content {
    color: #FAC35E;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1em;

  }


  .titulo-texto-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
  }


  .titulo-texto-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }
  

  footer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: space-between;
}



form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  ;
}

