<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Contato Professor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.google.com/specimen/Cabin" rel="stylesheet">
    </head>
    <body>
        <header class = "menu">
            <a class="bar" href="menu_professor.html">
                <img src = "img/Bar.png" alt = "Bar icon" class="imagem_menu">
            </a>
            <h2>Maria do Carmo</h2>
            <img src = "img/logo_coruja.png" alt = "Logo da Coruja" class="imagem_menu">
        </header>

        <main class="aluno-fundo">
            <a-dentro>
                <flex-vertical>
                    <img src = "img/avatar.png" alt = "Professor" class="imagem_menu">
                    <p>Professora 1 </p><br>
                    <p>CONTATOS</p><br>
                    <p>Celular: (21) XXXXX-XXXX </p><br>
                    <p>Telefone: (21) XXXXX-XXXX </p><br>
                    <p>email: maria.carmo@escola.edu </p><br>
                    <a href="chat_professor.html">
                        CHAT
                    </a>
                </flex-vertical>
            </a-dentro>
        </main>

        <footer>
            <a class="bar" href="turma_X.html">
                <img src = "img/button_voltar.png" alt = "Botao voltar" class="imagem_menu">
            </a>
        </footer>
    </body>
</html>
